.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;
}

.enviarBtn{
    margin-top: 25px;

}